
.container-inicio-sesion {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img_init {
    width: 150px;
}

.fa-chevron-down:hover > #modal-alert-closed {
    display: flex;
}

#modal-alert-closed {
    width: 150px !important;
    position: fixed;
    top: 0;
    right: 0;
    margin: 55px 30px 0 0;
    display: none;
    align-content: center;
    justify-content: center;
    font-family: Abel !important;
    font-weight: normal !important;
}

.container-modal-usuario-no-registrado {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://sistemas.policia.gob.pe/denuncias_digitales/images/fondo.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-denuncia-top {
    padding-top: 15px;
    justify-content: end;
}

.m-denuncia-top .agregar_usuarios {
    padding: 10px 20px;
    background-color: #c3c3c3;
    border: none;
}

@media (max-width: 1080px) {
    #cont-profile {
        flex-wrap: wrap;
    }
    #form-profile {
        border-right: none !important;
        padding-bottom: 25px !important;
        margin-bottom: 25px !important;
        border-bottom: rgba(0, 0, 0, .1) 1px solid !important;
    }
    #delete-form-profile {
        padding: 0 !important;
    }
}

@media (max-width: 600px) {
    #container-wrap {
        flex-wrap: wrap !important;
    }
    #res {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.none {
    display: none;
}

